
<div data-aos="fade-up" class="comments">
    {{#each this}}
    <div class="card">
        <a href="/user/{{user.id}}">{{user.username}}</a>
        <div>{{format_date createdAt}}</div>
        {{!-- for user avatar --}}
        {{!-- <div class="useravatar" style="height:25px; width: 25px;"></div> --}}
        <p>{{comment_text}}</p>
    </div>
    {{/each}}
</div> 