
<div class="card">
        <h2>{{post_title}}</h2>
        <h5>{{createdAt}}</h5>
        <div>{{user.username}}</div>
        {{!-- for user avatar --}}
        {{!-- <div class="useravatar" style="height:25px; width: 25px;"></div> --}}
        <p>{{post_body}}</p>
   
</div>