{{> postinfo post}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button class="button btn-primary" type="submit">Comment!</button>
  </div>
</form>
{{/if}}

{{> commentinfo post.comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}