<div data-aos="fade-up" class="row">
  <div class="leftcolumn">
    <div class="card">

      <h2>{{user.username}}</h2>
      <p>{{user.about_me}}</p>
      <div>{{user.fav_pokemon}}</div>
      <div>{{user.fav_game}}</div>

      <div class="favimg">String</div><br>
      <div class="favimg">of the User's</div><br>
      <div class="favimg">Favorite</div><br>
      <div class="favimg">Pokemon</div>

      <form class="newpost" >
        <p></p>
        <input class="button" name = "titleName" type="text" placeholder="Title"><br>
        <input class="button" name="postBody" type="text" placeholder="What's on your mind?"><br>
        <button class="button">New Post</button>
      </form><br>
      <div class="followbutton">
        <button class="button">Edit Bio</button>
        <button class="button">Follow</button>
      </div>
      {{!-- <div class="biobutton">
        <button class="button">Edit Bio</button>
      </div> --}}
    </div>
    <div class="card">
      {{#each user.posts as |post|}}
      {{>postinfo post}}
      {{/each}}
    </div>
  </div>
</div>

<script src="/js/post.js"></script>
