<div class="row">
  <div class="leftcolumn">
    <div class="card">

      <h2>{{user.username}}</h2>
      <p>{{user.about_me}}</p>
      <div>{{user.fav_pokemon}}</div>
      <div>{{user.fav_game}}</div>

      {{!-- <div class="favimg">or</div><br>
      <div class="favimg">String</div><br>
      <div class="favimg">of the User's</div><br>
      <div class="favimg">Favorite</div><br>
      <div class="favimg">Pokemon</div> --}}

      <form class="newpost" >
        <input name = "titleName" type="text" placeholder="Title"><br>
        <input name="postBody" type="text" placeholder="What's on your mind?"><br>
        <button>New Post</button>
      </form>
      <div class="followbutton">
        <button>Follow</button>
      </div>
    </div>
    <div class="card">
      {{#each user.posts as |post|}}
      {{>postinfo post}}
      {{/each}}
    </div>
  </div>
</div>

<script src="/js/post.js"></script>
