  <div class="row">
    <div class="leftcolumn">
        <div class="card">

        <h2>{{user.username}}</h2>
        <p>{{user.about_me}}</p>
        <div>{{user.fav_pokemon}}</div>
        <div>{{user.fav_game}}</div>>
        
        {{!-- <div class="favimg">or</div><br>
        <div class="favimg">String</div><br>
        <div class="favimg">of the User's</div><br>
        <div class="favimg">Favorite</div><br>
        <div class="favimg">Pokemon</div> --}}

        <div class="newpost">
            <button>New Post</button>
        </div>
        <div class="followbutton">
            <button>Follow</button>
        </div>
      </div>

        <div class="card">

        {{#each posts as |post|}}
        {{>postinfo post}}
        {{/each}}

      </div>

      </div>
  </div>

      